@use "config" as *;

.#{$vu-variable-prefix}checkbox {
    --vu-checkbox-box-shadow: inset 0 0 0 1px var(--vu-sem-color-border);
    --vu-checkbox-bg-color: var(--vu-sem-color-neutral-variant-3);
    --vu-checkbox-cursor: pointer;
    --vu-checkbox-caret: '';
    --vu-checkbox-caret-color: var(--vu-sem-color-inverse-indie-os-bw, var(--vu-glob-color-white));
    --vu-checkbox-label-gap: #{vu-rem(0, 0, 0, 8)};
    --vu-checkbox-label-text-color: var(--vu-sem-color-on-surface-elevation-2);

    position: relative;
    vertical-align: top;
    display: inline-flex;
    align-items: center;
    font-family: var(--vu-font-family-base);
    letter-spacing: var(--vu-letter-spacing);

    &-control {
        position: relative;
        display: flex;
        flex-shrink: 0;
        width: var(--vu-checkbox-size);
        height: var(--vu-checkbox-size);
        margin: 0;
        border: none;
        border-radius: vu-rem(2);
        background-color: var(--vu-checkbox-bg-color);
        box-shadow: var(--vu-checkbox-box-shadow);
        outline: none;
        appearance: none;
        transform: var(--vu-checkbox-control-transform);
        cursor: var(--vu-checkbox-cursor);
    }

    &-control::after {
        @include vu-font-icon();
        content: var(--vu-checkbox-caret);
        position: absolute;
        top: 50%;
        left: 50%;
        width: var(--vu-checkbox-caret-size);
        height: var(--vu-checkbox-caret-size);
        font-size: var(--vu-checkbox-caret-size);
        color: var(--vu-checkbox-caret-color);
        transform: translate(-50%, -50%);
    }

    &-label {
        flex-grow: 1;
        padding: var(--vu-checkbox-label-gap);
        font-size: var(--vu-checkbox-label-font-size);
        line-height: var(--vu-checkbox-label-line-height);
        color: var(--vu-checkbox-label-text-color);
        word-break: break-word;
        cursor: var(--vu-checkbox-cursor);
    }

    // 컨트롤 상태
    @each $state, $props in $vu-checkbox-control-states {
        &-control#{$state} {
            @each $prop, $value in $props {
                #{$prop}: #{$value};
            }
        }
    }

    // 크기
    @each $size, $props in $vu-checkbox-sizes {
        &\{#{$size}\} {
            @each $prop, $value in $props {
                #{$prop}: #{$value};
            }
        }
    }

    // 상태
    @each $state, $props in $vu-checkbox-states {
        &#{$state} {
            @each $prop, $value in $props {
                #{$prop}: #{$value};
            }
        }
    }

    // 정렬
    @each $align, $props in $vu-checkbox-aligns {
        &\{#{$align}\} {
            @each $prop, $value in $props {
                #{$prop}: #{$value};
            }
        }
    }

    // 추가 기능
    @each $addition, $props in $vu-checkbox-additions {
        &\{#{$addition}\} {
            @each $prop, $value in $props {
                @if (type-of($value) == map) {
                    #{$prop} {
                        @each $sub-prop, $sub-value in $value {
                            #{$sub-prop}: #{$sub-value};
                        }
                    }
                }
                @else {
                    #{$prop}: #{$value};
                }
            }
        }
    }
}