:root {
	--vu-z-index-base: 0;
	--vu-z-index-docked: 10;
	--vu-z-index-dropdown: 500;
	--vu-z-index-tooltip: 600;
	--vu-z-index-sticky: 1000;
	--vu-z-index-overlay: 2000;
	--vu-z-index-modal: 2500;
	--vu-z-index-toast: 3000;
}
