@use "config" as *;

.#{$vu-variable-prefix}toggle {
    --vu-toggle-button-text-color: inherit;
    --vu-toggle-icon-color: inherit;

    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &-button {
        --vu-button-text-color: var(--vu-toggle-button-text-color);
    }

    &-icon {
        --vu-button-icon-color: var(--vu-toggle-icon-color);
    }
}